body {
  font-family: "Montserrat", sans-serif;
  color: #343434;
}
main {
  flex: 1;
}
[class*="__container"] {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}
.wrapper {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}
.flower-decor-1 {
  position: absolute;
  top: -17px;
  right: -180px;
  z-index: -1;
}

.header {
  color: #343434;
  margin-bottom: 70px;
}
.header__container {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 108px;
  padding-bottom: 5px;
  padding-top: 5px;

  justify-content: space-between;
}

.header__logo {
  z-index: 4;
}

.header__menu {
}
.menu {
  display: flex;
  align-items: center;
  gap: 118px;
}
.menu__list {
  display: flex;
  gap: 61px;
}
.menu__item {
  transition: color 0.2s;
}
.menu__item:hover {
  color: #e48b37;
}
.menu__link {
}

.sing-up-btn {
  background-color: #ba936f;
  padding: 10px 47px;
  font-size: 17px;
  color: #ffffff;
  font-weight: 500;
  border-radius: 12px;
  transition: all 0.3s ease;
}
.sing-up-btn:hover {
  background-color: #e48b37;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.icon-menu {
  display: none;
}

@media (width<1200px) {
  .header__container {
    min-height: 80px;
  }
  .menu {
    gap: 80px;
  }
  .menu__list {
    gap: 25px;
  }
}
@media (width<1000px) {
  .sing-up-btn {
    padding: 10px 20px;
  }
}
@media (width<900px) {
  .menu {
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .header__logo {
    margin: 0 auto;
  }
  .icon-menu {
    display: block;
    width: 30px;
    height: 18px;
    flex-shrink: 0;
    position: relative;
    z-index: 3;
  }
  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    height: 2px;
    width: 30px;
    position: absolute;
    right: 0;
    transition: all 0.3s;
    background-color: #2f302c;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: 50%;
    translate: 0 -50%;
  }
  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 100%;

    background-color: #f6f6f6;
    z-index: 1;
    overflow: auto;
    transition: left 0.3s;
    padding: 120px 15px 30px 15px;
    flex-direction: column;
    gap: 80px;
  }
  .menu::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: 100%;

    transition: left 0.3s;
    background-color: #fff;
    z-index: 3;
  }
  .menu__list {
    row-gap: 40px;
    flex-direction: column;
    font-size: 25px;
    align-items: center;
  }
  .sing-up-btn {
    padding: 10px 47px;
  }
  [data-menu-open] .icon-menu span {
    width: 0;
  }
  [data-menu-open] .icon-menu::before {
    rotate: -45deg;
    transform: translate(0, -50%);
    top: 50%;
  }
  [data-menu-open] .icon-menu::after {
    rotate: 45deg;
    transform: translate(0, 50%);
    bottom: 50%;
  }
  [data-menu-open] .menu,
  [data-menu-open] .menu::before {
    left: 0;
  }
}
