.header {
  background-color: rgb(61, 28, 28);
  background: linear-gradient(90deg, #7cc85e, #07391b, #fea73a);
  border-bottom: 5px solid #3a1a46;
}

.header__title {
  font-size: 30px;
  color: aliceblue;
  text-align: center;
  padding: 30px 0;
}
